<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^pg/([A-Za-z0-9_-]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="engine/handlers/page_handler.php?handler={R:1}&amp;{QUERY_STRING}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^pg/([A-Za-z0-9_-]+)/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="engine/handlers/page_handler.php?handler={R:1}&amp;page={R:2}&amp;{QUERY_STRING}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^tag/(.+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="engine/handlers/page_handler.php?handler=search&amp;page={R:1}" appendQueryString="false" />
                </rule>

                <rule name="Imported Rule 4-2" stopProcessing="true">
                    <match url="^action/([_0-9a-zA-Z-]+)/([_0-9a-zA-Z-]+)$" ignoreCase="true" />
                    <action type="Rewrite" url="engine/handlers/action_handler.php?action={R:1}/{R:2}/&amp;%" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 4-3" stopProcessing="true">
                    <match url="^action/([_0-9a-zA-Z-]+)/([_0-9a-zA-Z-]+)/([_0-9a-zA-Z-]+)$" ignoreCase="true" />
                    <action type="Rewrite" url="engine/handlers/action_handler.php?action={R:1}/{R:2}/{R:3}&amp;%" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 4-4" stopProcessing="true">
                    <match url="^action/([_0-9a-zA-Z-]+)/([_0-9a-zA-Z-]+)/([_0-9a-zA-Z-]+)/([_0-9a-zA-Z-]+)$" ignoreCase="true" />
                    <action type="Rewrite" url="engine/handlers/action_handler.php?action={R:1}/{R:2}/{R:3}/{R:4}&amp;%" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 5" stopProcessing="true">
                    <match url="^cache/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="engine/handlers/cache_handler.php?request={R:1}&amp;{QUERY_STRING}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 6" stopProcessing="true">
                    <match url="^services/api/([A-Za-z0-9_-]+)/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="engine/handlers/service_handler.php?handler={R:1}&amp;request={R:2}&amp;{QUERY_STRING}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 7" stopProcessing="true">
                    <match url="^export/([A-Za-z]+)/([0-9]+)/?$" ignoreCase="false" />
                    <action type="Rewrite" url="engine/handlers/export_handler.php?view={R:1}&amp;guid={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 8" stopProcessing="true">
                    <match url="^export/([A-Za-z]+)/([0-9]+)/([A-Za-z]+)/([A-Za-z0-9_]+)/$" ignoreCase="false" />
                    <action type="Rewrite" url="engine/handlers/export_handler.php?view={R:1}&amp;guid={R:2}&amp;type={R:3}&amp;idname={R:4}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 9" stopProcessing="true">
                    <match url="xml-rpc.php" ignoreCase="false" />
                    <action type="Rewrite" url="engine/handlers/xml-rpc_handler.php" />
                </rule>
                <rule name="Imported Rule 10" stopProcessing="true">
                    <match url="mt/mt-xmlrpc.cgi" ignoreCase="false" />
                    <action type="Rewrite" url="engine/handlers/xml-rpc_handler.php" />
                </rule>
                <rule name="Imported Rule 12" stopProcessing="true">
                    <match url="^([A-Za-z0-9_-]+)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="engine/handlers/page_handler.php?handler={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 13" stopProcessing="true">
                    <match url="^([A-Za-z0-9_-]+)/(.*)$" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="engine/handlers/page_handler.php?handler={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                <remove value="default.aspx" />
                <remove value="iisstart.htm" />
                <remove value="index.html" />
                <remove value="index.htm" />
                <remove value="Default.asp" />
                <remove value="Default.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
